<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dailycodebuffer.mq.mapper.JobMapper">

    <resultMap id="BaseResultMap" type="com.dailycodebuffer.mq.model.Job">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="jobName" column="job_name" jdbcType="VARCHAR"/>
            <result property="jobDetail" column="job_detail" jdbcType="VARCHAR"/>
            <result property="jobExecutor" column="job_executor" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,job_name,job_detail,
        job_executor,create_time,update_time,
        is_deleted
    </sql>
</mapper>
